.square {
  width: 25px;
  height: 25px;
  border: 1px solid #000;
  text-align: center;
}

.status-covered {
  background-color: #868686;
  color: transparent;
}

.status-flagged {
  background-color: #D9853B;
  color: transparent;
}
