.square {
  width: 25px;
  height: 25px;
  border: 1px solid #000;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.status-covered {
  background-color: #868686;
  color: transparent;
}

.status-flagged {
  background-color: #D9853B;
  color: transparent;
}

.has_bomb.status-uncovered {
  background-color: #CC3300;
}
